.sw?
.*.sw?
*.a
*.CSV
*.cer
*.crl
*.crt
*.csr
*.db
*.db.attr
*.db.attr.old
*.db.old
*.domain.txt
*.efi
*.efi.debug
*.efi.signed
*.esl
*.key
*.key
*.o
*.pem
*.p12
*.so
*.srl
*.srl.old
*.tar.*
*.hash
build/
certdb
config.h
cov-int/
shim_cert.h
scan-results/
[Ss]creenlog*
version.c
