Make.local
*.a
*.CSV
*.cer
*.crl
*.crt
*.csr
*.db
*.db.attr
*.db.attr.old
*.db.old
*.domain.txt
*.efi
*.efi.debug
*.efi.signed
*.esl
*.gdbinit
*.hash
*.key
*.key
*.o
*.pem
*.p12
*.so
*.srl
*.srl.old
*.sw?
*.tar.*
/build*/
/certdb/
/cov-int/
/random.bin
/sbat.*.csv
/scan-results/
[Ss]creenlog*
shim_cert.h
/test-*
!/test-*.c
/test-random.h
version.c
