.*.sw?
certdb
shim_cert.h
*.a
*.CSV
*.cer
*.crl
*.crt
*.csr
*.db
*.db.attr
*.db.attr.old
*.db.old
*.domain.txt
*.efi
*.efi.debug
*.efi.signed
*.key
*.key
*.o
*.pem
*.p12
*.so
*.srl
*.srl.old
*.tar.*
version.c
